@import url('https://fonts.googleapis.com/css2?family=Tsukimi+Rounded&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tsukimi Rounded', sans-serif;
}

body {
    background: #0c1022;
    color: #ffff;
}

#imgLogo{
    position: absolute;
    top: -20px;
    left: 60px;
    max-width: 13%;
}

.logo{
    font-size: 25px;
    color: #ffff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    z-index: 100;
}


.navbar {
    display: flex;
    align-items: center;
    }
    

.navbar a {
    padding-top: 1.5rem;
    font-size: 1.5rem;
    color: #ffc501;
    text-decoration: none;
    font-weight: 500;
    margin-right: 10px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.navbar a + a {
    margin-left: 10px;
}

.navbar a:hover,
.navbar a.active {
    color: #ffc501;
}

.home {
    position: relative;
    display: grid;  
    grid-template-columns: repeat(3, 100px);  
    grid-template-rows: repeat(2, 50px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content{
    max-width: 600px;
}

.home-content h3:nth-last-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay:  .7s;
}

.home-content h3 span{
    color:#ffc501
}

.home-content h1{
    font-size: 45px;
    font-weight: 700;
    margin: -3px 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 0s;
}

.home-content p{
    font-size: 16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay:  .7s;
}

.home-img img{
    max-width: 750px;
    height: 100%;
    margin-right: -20px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
    filter: drop-shadow(0px 0px 20px #000);
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #ffc501;
    border-radius:50%;
    font-size: 20px;
    color: #ffc501;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover{
    background: #ffc501;
    color: #000;
    box-shadow: 0 0 20px #ffc501;
}

.btn{
    display: inline-block;
    padding: 12px 28px;
    background: #9d6745;
    border-radius: 40px;
    box-shadow: #9d6745;
    font-size: 16px;
    color: #d5b6a4;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

/* HEYFRAMES ANIMATION */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px);
    }
    100% {
        transform: translateY(0);
    }
}


@import url('https://fonts.googleapis.com/css2?family=Tsukimi+Rounded&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tsukimi Rounded', sans-serif;
}

:root {
    --red: #ffc501;
    --dark: #038bbb;
}
.navbar {
    display: flex;
    gap: 2rem;
}

.navbar a {
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
    position: relative;
}

.navbar a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--red);
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
}

.navbar a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.menu {
    cursor: pointer;
    display: none;
}

.menu .bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
    background: var(--red);
}

/* Media query para esconder a barra de navegação no início */
@media (max-width: 785px) {
    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }

    .navbar.ativo {
        display: flex;
    }

    .menu {
        display: block;
    }

    .menu.ativo .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }

    .menu.ativo .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
