@import url('https://fonts.googleapis.com/css2?family=Tsukimi+Rounded&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tsukimi Rounded', sans-serif;
}

body {
    background-color: #0c1022;
}

#mascotebarra {
    margin-top: -25px;
    margin-left: -20px;
    margin-right: 20px;
    height: 150px;
    width: 150px;
    float: left;
}

.Entrar{
    padding-top: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Entrar .text{
    font-family: 'Tsukimi Rounded', sans-serif;
    position: relative;

    margin-right: 20px;
}

.Entrar .text a{
    padding: 10px 25px;
    font-family: 'Tsukimi Rounded', sans-serif;
    background: #ffc501;
    color: #ffc501;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
    transition: all 0.3s ease-in-out 0s;
}

.Entrar .text .btnEntrar:hover{
    transform: translateY(-10px);

}


.header {
    display: flex;
    justify-content:flex-end;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    z-index: 100;
}


.navbar {
    display: flex;
    align-items: center;

    }
    

.navbar a {
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 50%;
    margin-right: 10px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.navbar a + a {
    margin-left: 10px;
}

.navbar a:hover,
.navbar a.active {
    color: #ffc501;
}


/*Conteúdo do site*/

.titulo {
    padding-top: 5rem;
    font-size: 25px;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Tsukimi Rounded', sans-serif;
}

.main {
    display: inline-block;
}

.titulo,
.principal span {
    color: #ffc501;
    font-family: 'Tsukimi Rounded', sans-serif;
    margin-top: 5%;
}

.principal p {
    margin-top: 2.5%;
    margin-left: 20px;
    font-size: 40px;
    padding-right: 50px;
    align-items: center;
    font-family: 'Tsukimi Rounded', sans-serif;
}

.principal div {
    margin: 2%;
    display: grid;
    grid-template-rows: 375px;
    grid-template-columns:  375px 375px;
    margin-left: 40px;
    margin-bottom: 150px;
    float: right;
    border-radius: 10px;
    height: 400px;
    width: 750px;
    background-color: #0c1022;
    border: 10px;
    border-color: #ffc501;
    filter: drop-shadow(0px 0px 20px #918c8c);
    font-family: 'Tsukimi Rounded', sans-serif;
}
.inputnome{
    padding-left: 2%;
    border-width: 4px;
    border-color: #ffc501;
    border-style:solid;
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 30px;
    border-radius: 17px;
    margin-top: 80px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-family: 'Tsukimi Rounded', sans-serif;
}

.inputemail{
    padding-left: 2%;
    width: 300px;
    height: 30px;
    border-radius: 17px;
    margin: 20px;
    border-width: 4px;
    border-color: #ffc501;
    border-style:solid;
    background-color: white;
    width: 300px;
    height: 30px;
    border-radius: 17px;
    font-family: 'Tsukimi Rounded', sans-serif;
}
.inputassunto{
    padding-left: 2%;
    width: 300px;
    height: 30px;
    border-radius: 17px;
    margin: 20px;
    border-width: 4px;
    border-color: #ffc501;
    border-style:solid;
    background-color: white;
    width: 300px;
    height: 30px;
    border-radius: 17px;
    font-family: 'Tsukimi Rounded', sans-serif;
}

.submit{
    padding-left: 2%;
    margin-right: 14px;
    margin-top: 20px;
    margin-left: 28px;
    width: 130px;
    height: 30px;
    background-color: #038bbb;
    color: black;
    font-size: 17px;
    border-radius: 17px;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease ;
    font-family: 'Tsukimi Rounded', sans-serif;
    }


.input-container textarea{
    padding-left: 2%;
    border-radius: 17px;
    margin-right: 30px;
    margin-top: 80px;
    height: 270px;
    width: 335px;
    border-width: 2px;
    border-color: #ffc501;
    border-style: solid;
    background-color: white;
    resize: none;
    font-size: 18px;
    color: black;
    font-family: 'Tsukimi Rounded', sans-serif;
}

.input-container a{
    text-decoration: none;
    font-size: 17px;
    color: rgb(255, 255, 255);
    font-family: 'Tsukimi Rounded', sans-serif;
}

.submit:hover {
    background-color: #ffc501;
    color: black;
    transform: scale(1.05);
    
}

/* HEYFRAMES ANIMATION */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px);
    }
    100% {
        transform: translateY(0);
    }
}


@import url('https://fonts.googleapis.com/css2?family=Tsukimi+Rounded&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tsukimi Rounded', sans-serif;
}

body {
    background: #0c1022;
    color: #ffffff;
}

#imgLogo{
    position: absolute;
    top: -20px;
    left: 60px;
    max-width: 13%;
}

.logo{
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    z-index: 100;
}


.navbar {
    display: flex;
    align-items: center;
    }
    

.navbar a {
    padding-top: 1.5rem;
    font-size: 1.5rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-right: 10px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.navbar a + a {
    margin-left: 10px;
}

.navbar a:hover,
.navbar a.active {
    color: #ffc501;
}

.home {
    position: relative;
    display: grid;  
    grid-template-columns: repeat(3, 100px);  
    grid-template-rows: repeat(2, 50px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content{
    max-width: 600px;
}

.home-content h3:nth-last-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay:  .7s;
}

.home-content h3 span{
    color:#ffc501
}

.home-content h1{
    font-size: 45px;
    font-weight: 700;
    margin: -3px 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 0s;
}

.home-content p{
    font-size: 16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay:  .7s;
}

.home-img img{
    max-width: 750px;
    height: 100%;
    margin-right: -20px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
    filter: drop-shadow(0px 0px 20px #000);
}





/* HEYFRAMES ANIMATION */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px);
    }
    100% {
        transform: translateY(0);
    }
}

@import url('https://fonts.googleapis.com/css2?family=Tsukimi+Rounded&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tsukimi Rounded', sans-serif;
}

:root {
    --red: #ffc501;
    --dark: #038bbb;
}
.navbar {
    display: flex;
    gap: 2rem;
}

.navbar a {
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
    position: relative;
}

.navbar a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--red);
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
}

.navbar a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.menu {
    cursor: pointer;
    display: none;
}

.menu .bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
    background: var(--red);
}

/* Media query para esconder a barra de navegação no início */
@media (max-width: 785px) {
    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }

    .navbar.ativo {
        display: flex;
    }

    .menu {
        display: block;
    }

    .menu.ativo .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }

    .menu.ativo .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
