<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="../Imagens/logoTest-removebg-preview.png">
    <title>G&V</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{url_for('static',filename='home.css')}}">

</head>


<body>
    <a href="#"><img src="../img/logo (1).png" alt="logo" class="logo" id="imgLogo"></a>

    <header class="header">
        <a class="logo"></a>
        <nav class="navbar">
            <a href="../index.html" style="--i:1;" class="active">Home</a>
            <a href="../html/Aulas.html" style="--i:2;">Aulas</a>
            <a href="../html/fases.html" style="--i:3;">Fases</a>
            <a href="../html/sugestoes.html" style="--i:4;">Sugestões</a>
            <a href="..html/historia.html" style="--i:5;">Sobre nós</a>
        </nav>
        <div class="menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </header>
    <head>
        <section class="home">
            <div class="home-content">
                <h3>Olâ, Seja Bem vindo(a)</h3>
                <h1>Nós Somos o Learn Py</h1>
                <h3>Aqui você vai aprender Python se divertindo.
                    <br> <span class="Textos"></span>
                </h3>
                <div class="social-media">
                    <a href="#" style="--i:7"><i class='bx bxl-facebook'></i></a>
                    <a href="#" style="--i:8"><i class='bx bxl-instagram-alt'></i></a>
                </div>
            </div>
    </head>
  

    <div class="home-img">
        <img src="../img/mascote teste.png" alt="">
    </div>
    </section>

    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script src="../js/Home.js"></script>

</body>

</html>